<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qingjian.hrms.mapper.EmployeeMapper">
    <resultMap id="BaseResultMap" type="com.qingjian.hrms.entity.Employee">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="em_name" jdbcType="VARCHAR" property="emName" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="policital_status" jdbcType="INTEGER" property="policitalStatus" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="education" jdbcType="INTEGER" property="education" />
        <result column="university" jdbcType="VARCHAR" property="university" />
        <result column="station" jdbcType="VARCHAR" property="station" />
        <result column="salary_level" jdbcType="INTEGER" property="salaryLevel" />
        <result column="emnum" jdbcType="VARCHAR" property="emnum" />
        <result column="dept" jdbcType="INTEGER" property="dept" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>

    <resultMap id="VOResultMap" type="com.qingjian.hrms.vo.EmployeeVO">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="em_name" jdbcType="VARCHAR" property="emName" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="sex" jdbcType="CHAR" property="sex" />
        <result column="policital_status" jdbcType="INTEGER" property="policitalStatus" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="education" jdbcType="INTEGER" property="education" />
        <result column="university" jdbcType="VARCHAR" property="university" />
        <result column="station" jdbcType="VARCHAR" property="station" />
        <result column="salary_level" jdbcType="INTEGER" property="salaryLevel" />
        <result column="emnum" jdbcType="VARCHAR" property="emnum" />
        <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>

    <sql id="Base_Column_List">
        id,
       	em_name,
       	birthday,
       	sex,
       	policital_status,
       	email,
       	education,
       	university,
       	station,
       	salary_level,
       	emnum,
       	dept,phone
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from employee
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from employee
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.qingjian.hrms.entity.Employee">
        insert into employee (
            em_name,
            birthday,
            sex,
            policital_status,
            email,
            education,
            university,
            station,
            salary_level,
            emnum,
            dept,phone
        )
        values (
                   #{emName,jdbcType=VARCHAR},
                   #{birthday,jdbcType=VARCHAR},
                   #{sex,jdbcType=CHAR},
                   #{policitalStatus,jdbcType=INTEGER},
                   #{email,jdbcType=VARCHAR},
                   #{education,jdbcType=INTEGER},
                   #{university,jdbcType=VARCHAR},
                   #{station,jdbcType=VARCHAR},
                   #{salaryLevel,jdbcType=INTEGER},
                   #{emnum,jdbcType=VARCHAR},
                   #{dept,jdbcType=INTEGER},
                   #{phone,jdbcType=VARCHAR}
               )
    </insert>

    <select id="selectByEmployee" parameterType="com.qingjian.hrms.qo.EmployeeQO" resultMap="VOResultMap">
        select
            em.id,em.em_name,em.birthday,em.sex,em.policital_status,em.email,
               em.education,em.university,em.station,em.salary_level,
               em.emnum,em.phone,dept.deptname dept_name,dept.id deptId
        from employee em
        left join department dept
        on em.dept = dept.id
        where 1=1
        <if test="emName != null and emName.length >0">
            and em.em_name like concat('%',#{emName,jdbcType=VARCHAR},'%')
        </if>
        <if test="phone != null and phone.length >0">
            and em.phone like concat('%',#{phone,jdbcType=VARCHAR},'%')
        </if>
        <if test="emnum != null and emnum.length >0">
            and em.emnum like concat('%',#{emnum,jdbcType=VARCHAR},'%')
        </if>
        <if test="dept != null">
            and em.dept = #{dept,jdbcType=INTEGER}
        </if>
    </select>

    <insert id="insertSelective" parameterType="com.qingjian.hrms.entity.Employee">
        insert into employee
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="emName != null">
                em_name,
            </if>
            <if test="birthday != null">
                birthday,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="policitalStatus != null">
                policital_status,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="education != null">
                education,
            </if>
            <if test="university != null">
                university,
            </if>
            <if test="station != null">
                station,
            </if>
            <if test="salaryLevel != null">
                salary_level,
            </if>
            <if test="emnum != null">
                emnum,
            </if>
            <if test="dept != null">
                dept,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="emName != null">
                #{emName,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=CHAR},
            </if>
            <if test="policitalStatus != null">
                #{policitalStatus,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                #{education,jdbcType=INTEGER},
            </if>
            <if test="university != null">
                #{university,jdbcType=VARCHAR},
            </if>
            <if test="station != null">
                #{station,jdbcType=VARCHAR},
            </if>
            <if test="salaryLevel != null">
                #{salaryLevel,jdbcType=INTEGER},
            </if>
            <if test="emnum != null">
                #{emnum,jdbcType=VARCHAR},
            </if>
            <if test="dept != null">
                #{dept,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.qingjian.hrms.entity.Employee">
        update employee
        <set>
            <if test="emName != null">
                em_name = #{emName,jdbcType=VARCHAR},
            </if>
            <if test="birthday != null">
                birthday = #{birthday,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=CHAR},
            </if>
            <if test="policitalStatus != null">
                policital_status = #{policitalStatus,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="education != null">
                education = #{education,jdbcType=INTEGER},
            </if>
            <if test="university != null">
                university = #{university,jdbcType=VARCHAR},
            </if>
            <if test="station != null">
                station = #{station,jdbcType=VARCHAR},
            </if>
            <if test="salaryLevel != null">
                salary_level = #{salaryLevel,jdbcType=INTEGER},
            </if>
            <if test="emnum != null">
                emnum = #{emnum,jdbcType=VARCHAR},
            </if>
            <if test="dept != null">
                dept = #{dept,jdbcType=INTEGER},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>

        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.qingjian.hrms.entity.Employee">
        update employee
        set
            em_name = #{emName,jdbcType=VARCHAR},
            birthday = #{birthday,jdbcType=VARCHAR},
            sex = #{sex,jdbcType=CHAR},
            policital_status = #{policitalStatus,jdbcType=INTEGER},
            email = #{email,jdbcType=VARCHAR},
            education = #{education,jdbcType=INTEGER},
            university = #{university,jdbcType=VARCHAR},
            station = #{station,jdbcType=VARCHAR},
            salary_level = #{salaryLevel,jdbcType=INTEGER},
            emnum = #{emnum,jdbcType=VARCHAR},
            dept = #{dept,jdbcType=INTEGER},
            phone = #{phone,jdbcType=VARCHAR}
        where
            id = #{id,jdbcType=INTEGER}
    </update>
    
</mapper>